[{:building/address "Spengergasse",
  :building/xcoord 16.3568,
  :building/ycoord 48.1857
  :building/hive {:hive/name "Spengergasse"}}
 {:building/address "Hofburg",
  :building/xcoord 16.36605380000003,
  :building/ycoord 48.2076579
  :building/hive {:hive/name "Hofburg"}}
 {:building/address "Stephansplatz",
  :building/xcoord 16.373213299999975,
  :building/ycoord 48.2089816
  :building/hive {:hive/name "Stephansplatz"}}
 {:building/address "Flex Café",
  :building/xcoord 16.37105329999997,
  :building/ycoord 48.21770540000001
  :building/hive {:hive/name "Flex Café"}}
 {:building/address "Hard Rock Café",
  :building/xcoord 16.37574159999997,
  :building/ycoord 48.2114105
  :building/hive {:hive/name "Hard Rock Café"}}
 {:building/address "MAK",
  :building/xcoord 16.38160330000005,
  :building/ycoord 48.2075967
  :building/hive {:hive/name "MAK"}}
 {:building/address "Karlsplatz",
  :building/xcoord 16.37054790000002,
  :building/ycoord 48.2004387
  :building/hive {:hive/name "Karlsplatz"}}
 {:building/address "Cineplex Apollo Kino",
  :building/xcoord 16.35389310000005,
  :building/ycoord 48.19746199999999
  :building/hive {:hive/name "Cineplex Apollo Kino"}}
 {:building/address "Krankenhaus",
  :building/xcoord 16.344824700000004,
  :building/ycoord 48.1924122
  :building/hive {:hive/name "Krankenhaus"}}
 {:building/address "Westbahnhof",
  :building/xcoord 16.337701899999956,
  :building/ycoord 48.19679909999999
  :building/hive {:hive/name "Westbahnhof"}}
 {:building/address "Stadthalle",
  :building/xcoord 16.33289590000004,
  :building/ycoord 48.202361
  :building/hive {:hive/name "Stadthalle"}}
 {:building/address "Rathaus",
  :building/xcoord 16.357248600000048,
  :building/ycoord 48.21086849999999
  :building/hive {:hive/name "Rathaus"}}
 {:building/address "Votivkirche",
  :building/xcoord 16.359082100000023,
  :building/ycoord 48.21540119999999
  :building/hive {:hive/name "Votivkirche"}}
 {:building/address "AKH",
  :building/xcoord 16.346866099999943,
  :building/ycoord 48.2206898
  :building/hive {:hive/name "AKH"}}
 {:building/address "Uni Campus",
  :building/xcoord 16.35318159999997,
  :building/ycoord 48.218511
  :building/hive {:hive/name "Uni Campus"}}
 {:building/address "Bruno Bettelheim Haus",
  :building/xcoord 16.349361499999986,
  :building/ycoord 48.2033958
  :building/hive {:hive/name "Bruno Bettelheim Haus"}}
 {:building/address "Museum",
  :building/xcoord 16.347037799999953,
  :building/ycoord 48.1987534
  :building/hive {:hive/name "Museum"}}
 {:building/address "Schäffergasse",
  :building/xcoord 16.364232700000002,
  :building/ycoord 48.1940856
  :building/hive {:hive/name "Schäffergasse"}}
 {:building/address "Matzleinsdorferplatz",
  :building/xcoord 16.358833000000004,
  :building/ycoord 48.18084899999999
  :building/hive {:hive/name "Matzleinsdorferplatz"}}
 {:building/address "Hauptbahnhof",
  :building/xcoord 16.37307820000001,
  :building/ycoord 48.1861815
  :building/hive {:hive/name "Hauptbahnhof"}}
 {:building/address "Belvedere",
  :building/xcoord 16.38095469999996,
  :building/ycoord 48.1915585
  :building/hive {:hive/name "Belvedere"}}
 {:building/address "Universität Musik/Kunst",
  :building/xcoord 16.385261799999967,
  :building/ycoord 48.20193860000001
  :building/hive {:hive/name "Universität Musik/Kunst"}}
 {:building/address "Hunderwasserhaus",
  :building/xcoord 16.39416700000004,
  :building/ycoord 48.20722199999999
  :building/hive {:hive/name "Hunderwasserhaus"}}]
