 [{:building/address "Spengergasse",
  :building/xcoord 16.3568,
  :building/ycoord 48.1857,
  :building/hive {:hive/name "Spengergasse"}}
 {:building/address "Hofburg",
  :building/xcoord 16.36605380000003,
  :building/ycoord 48.2076579,
  :building/hive {:hive/name "Hofburg"}}
 {:building/address "Stephansplatz",
  :building/xcoord 16.373213299999975,
  :building/ycoord 48.2089816,
  :building/hive {:hive/name "Stephansplatz"}}
 {:building/address "Flex Café",
  :building/xcoord 16.37105329999997,
  :building/ycoord 48.21770540000001,
  :building/hive {:hive/name "Flex Café"}}
 {:building/address "Hard Rock Café",
  :building/xcoord 16.37574159999997,
  :building/ycoord 48.2114105,
  :building/hive {:hive/name "Hard Rock Café"}}
 {:building/address "MAK",
  :building/xcoord 16.38160330000005,
  :building/ycoord 48.2075967,
  :building/hive {:hive/name "MAK"}}
 {:building/address "Karlsplatz",
  :building/xcoord 16.37054790000002,
  :building/ycoord 48.2004387,
  :building/hive {:hive/name "Karlsplatz"}}
 {:building/address "Cineplex Apollo Kino",
  :building/xcoord 16.35389310000005,
  :building/ycoord 48.19746199999999,
  :building/hive {:hive/name "Cineplex Apollo Kino"}}
 {:building/address "Krankenhaus",
  :building/xcoord 16.344824700000004,
  :building/ycoord 48.1924122,
  :building/hive {:hive/name "Krankenhaus"}}
 {:building/address "Westbahnhof",
  :building/xcoord 16.337701899999956,
  :building/ycoord 48.19679909999999,
  :building/hive {:hive/name "Westbahnhof"}}
 {:building/address "Stadthalle",
  :building/xcoord 16.33289590000004,
  :building/ycoord 48.202361,
  :building/hive {:hive/name "Stadthalle"}}
 {:building/address "Rathaus",
  :building/xcoord 16.357248600000048,
  :building/ycoord 48.21086849999999,
  :building/hive {:hive/name "Rathaus"}}
 {:building/address "Votivkirche",
  :building/xcoord 16.359082100000023,
  :building/ycoord 48.21540119999999,
  :building/hive {:hive/name "Votivkirche"}}
 {:building/address "AKH",
  :building/xcoord 16.346866099999943,
  :building/ycoord 48.2206898,
  :building/hive {:hive/name "AKH"}}
 {:building/address "Wilhelminenspital",
  :building/xcoord 16.30186430,
  :building/ycoord 48.2109312,
  :building/hive {:hive/name "Wilhelminenspital"}}
 {:building/address "Bruno Bettelheim Haus",
  :building/xcoord 16.349361499999986,
  :building/ycoord 48.2033958,
  :building/hive {:hive/name "Bruno Bettelheim Haus"}}
 {:building/address "Museum",
  :building/xcoord 16.347037799999953,
  :building/ycoord 48.1987534
  :building/hive {:hive/name "Museum"}}
 {:building/address "Schäffergasse",
  :building/xcoord 16.364232700000002,
  :building/ycoord 48.1940856
  :building/hive {:hive/name "Schäffergasse"}}
 {:building/address "Matzleinsdorferplatz",
  :building/xcoord 16.358833000000004,
  :building/ycoord 48.18084899999999
  :building/hive {:hive/name "Matzleinsdorferplatz"}}
 {:building/address "Hauptbahnhof",
  :building/xcoord 16.37307820000001,
  :building/ycoord 48.1861815
  :building/hive {:hive/name "Hauptbahnhof"}}
 {:building/address "Belvedere",
  :building/xcoord 16.38095469999996,
  :building/ycoord 48.1915585
  :building/hive {:hive/name "Belvedere"}}
 {:building/address "Universität Musik/Kunst",
  :building/xcoord 16.385261799999967,
  :building/ycoord 48.20193860000001
  :building/hive {:hive/name "Universität Musik/Kunst"}}
 {:building/address "Hunderwasserhaus",
  :building/xcoord 16.39416700000004,
  :building/ycoord 48.20722199999999
  :building/hive {:hive/name "Hunderwasserhaus"}}
 {:building/address "UKH Meidling",
  :building/xcoord 16.34433039,
  :building/ycoord 48.1728938,
  :building/hive {:hive/name "UKH Meidling"}}
 {:building/address "Reumannplatz",
  :building/xcoord 16.3786159,
  :building/ycoord 48.1739176,
  :building/hive {:hive/name "Reumannplatz"}}
 {:building/address "Troststraße",
  :building/xcoord 16.36595169,
  :building/ycoord 48.1696028,
  :building/hive {:hive/name "Troststraße"}}
 {:building/address "Wienerberg",
  :building/xcoord 16.3462976,
  :building/ycoord 48.16521119,
  :building/hive {:hive/name "Wienerberg"}}
 {:building/address "Altes Landgut",
  :building/xcoord 16.382956,
  :building/ycoord 48.1635576,
  :building/hive {:hive/name "Altes Landgut"}}
 {:building/address "Böhmischer Prater",
  :building/xcoord 16.39929219,
  :building/ycoord 48.1672516,
  :building/hive {:hive/name "Böhmischer Prater"}}
 {:building/address "Simmering",
  :building/xcoord 16.4217332,
  :building/ycoord 48.1690647,
  :building/hive {:hive/name "Simmering"}}
 {:building/address "Gasometer",
  :building/xcoord 16.41762970,
  :building/ycoord 48.1853465,
  :building/hive {:hive/name "Gasometer"}}
 {:building/address "Marx Halle",
  :building/xcoord 16.40459379,
  :building/ycoord 48.18785829,
  :building/hive {:hive/name "Marx Halle"}}
 {:building/address "Herz Jesu Krankenhaus",
  :building/xcoord 16.3983799,
  :building/ycoord 48.1956093,
  :building/hive {:hive/name "Herz Jesu Krankenhaus"}}
 {:building/address "Praterstern",
  :building/xcoord 16.3917731,
  :building/ycoord 48.2170357999,
  :building/hive {:hive/name "Praterstern"}}
 {:building/address "Augarten",
  :building/xcoord 16.373948299,
  :building/ycoord 48.2242944,
  :building/hive {:hive/name "Augarten"}}
 {:building/address "Krankenhaus Barmherzige Brüder",
  :building/xcoord 16.382053899,
  :building/ycoord 48.215493,
  :building/hive {:hive/name "Krankenhaus Barmherzige Brüder"}}
 {:building/address "FH Technikum Wien",
  :building/xcoord 16.377522799,
  :building/ycoord 48.2390534,
  :building/hive {:hive/name "FH Technikum Wien"}}
 {:building/address "Wasserturm",
  :building/xcoord 16.393913900,
  :building/ycoord 48.2289648,
  :building/hive {:hive/name "Wasserturm"}}
 {:building/address "WU Wien",
  :building/xcoord 16.4084665000,
  :building/ycoord 48.2134274999,
  :building/hive {:hive/name "WU Wien"}}
 {:building/address "Alser Straße",
  :building/xcoord 16.341456600,
  :building/ycoord 48.2160804,
  :building/hive {:hive/name "Alser Straße"}}
 {:building/address "Ernst Happel Stadion",
  :building/xcoord 16.4209846999,
  :building/ycoord 48.20720779999,
  :building/hive {:hive/name "Ernst Happel Stadion"}}
 {:building/address "TU Atominstitut",
  :building/xcoord 16.412458399,
  :building/ycoord 48.1965174,
  :building/hive {:hive/name "TU Atominstitut"}}
 {:building/address "Haydnpark",
  :building/xcoord 16.34754010,
  :building/ycoord 48.1814179,
  :building/hive {:hive/name "Haydnpark"}}
  {:building/address "Niederhofstraße",
  :building/xcoord 16.33094280,
  :building/ycoord 48.18067749,
  :building/hive {:hive/name "Niederhofstraße"}}
 {:building/address "Tivoligasse",
  :building/xcoord 16.324789099,
  :building/ycoord 48.1803667,
  :building/hive {:hive/name "Tivoligasse"}}
 {:building/address "Maria Theresien Kaserne",
  :building/xcoord 16.30400370,
  :building/ycoord 48.1714887,
  :building/hive {:hive/name "Maria Theresien Kaserne"}}
 {:building/address "Schönbrunn",
  :building/xcoord 16.312428500,
  :building/ycoord 48.1859161,
  :building/hive {:hive/name "Schönbrunn"}}
 {:building/address "Heiligenstadt",
  :building/xcoord 16.36261680,
  :building/ycoord 48.246135,
  :building/hive {:hive/name "Heiligenstadt"}}
 {:building/address "BOKU Wien",
  :building/xcoord 16.33757900,
  :building/ycoord 48.2365448,
  :building/hive {:hive/name "BOKU Wien"}}
 {:building/address "Spittelau",
  :building/xcoord 16.35859559,
  :building/ycoord 48.2388615,
  :building/hive {:hive/name "Spittelau"}}
 {:building/address "Floridsdorf",
  :building/xcoord 16.3985146,
  :building/ycoord 48.2574446000,
  :building/hive {:hive/name "Floridsdorf"}}
 {:building/address "Krankenhaus Hietzing",
  :building/xcoord 16.27743229,
  :building/ycoord 48.16795219,
  :building/hive {:hive/name "Krankenhaus Hietzing"}}
 {:building/address "Altmannsdorf",
  :building/xcoord 16.31707549,
  :building/ycoord 48.16507319,
  :building/hive {:hive/name "Altmannsdorf"}}
 {:building/address "Tech Park",
  :building/xcoord 16.33541979,
  :building/ycoord 48.1561129,
  :building/hive {:hive/name "Tech Park"}}
 {:building/address "Alterlaa",
  :building/xcoord 16.3168560,
  :building/ycoord 48.150503,
  :building/hive {:hive/name "Alterlaa"}}
 {:building/address "Breitensee",
  :building/xcoord 16.30544529,
  :building/ycoord 48.19811989,
  :building/hive {:hive/name "Breitensee"}}
 {:building/address "Hernals",
  :building/xcoord 16.3150435,
  :building/ycoord 48.2232312,
  :building/hive {:hive/name "Hernals"}}
 {:building/address "Vet Uni",
  :building/xcoord 16.43015179,
  :building/ycoord 48.2541733,
  :building/hive {:hive/name "Vet Uni"}}
 {:building/address "Donau City",
  :building/xcoord 16.43499029,
  :building/ycoord 48.2423608,
  :building/hive {:hive/name "Donau City"}}
 {:building/address "Tech Gate",
  :building/xcoord 16.41381350,
  :building/ycoord 48.23250350,
  :building/hive {:hive/name "Tech Gate"}}
 {:building/address "Donaustadtbrücke",
  :building/xcoord 16.44173339,
  :building/ycoord 48.2129614,
  :building/hive {:hive/name "Donaustadtbrücke"}}]
